[submodule "Iris"]
	path = Iris
	url = https://github.com/brandonbraun653/Iris.git
[submodule "lib/etl"]
	path = lib/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "lib/grpc"]
	path = lib/grpc
	url = https://github.com/grpc/grpc
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "lib/conda"]
	path = lib/conda
	url = https://github.com/brandonbraun653/Conda.git
